<% logo_url = Setting[:zs_theme_header_logo_url].presence || ForemanZsTheme::UploadedAsset.default_url('logo') %>
<% favicon_url = Setting[:zs_theme_favicon_url].presence || ForemanZsTheme::UploadedAsset.default_url('favicon') %>
<% login_info_text = Setting[:zs_theme_login_info_text].to_s %>
<% site_font_size = ForemanZsTheme::FontSize.normalize(Setting[:zs_theme_site_font_size], ForemanZsTheme::FontSize::DEFAULT_SITE) %>
<% sidebar_font_size = ForemanZsTheme::FontSize.normalize(Setting[:zs_theme_sidebar_font_size], ForemanZsTheme::FontSize::DEFAULT_SIDEBAR) %>

<div class="zs-theme-settings-upload">
  <h3><%= _('ZS theme assets') %></h3>
  <div class="zs-theme-settings-grid">
    <div class="zs-theme-settings-card">
      <h4><%= _('Header logo') %></h4>
      <div class="zs-theme-asset-preview zs-theme-logo-preview">
        <%= image_tag logo_url, alt: _('Current header logo') %>
      </div>
      <%= form_tag foreman_zs_theme.upload_theme_asset_path('logo'), multipart: true, class: 'zs-theme-upload-form' do %>
        <%= file_field_tag :file, id: 'zs_theme_logo_file', accept: 'image/png,image/jpeg,image/gif,image/webp,image/x-icon,image/vnd.microsoft.icon', required: true %>
        <div class="zs-theme-upload-actions">
          <%= submit_tag _('Upload logo'), class: 'btn btn-primary' %>
        </div>
      <% end %>
      <% if ForemanZsTheme::UploadedAsset.uploaded?('logo') %>
        <%= form_tag foreman_zs_theme.reset_theme_asset_path('logo'), method: :delete, class: 'zs-theme-reset-form' do %>
          <%= submit_tag _('Reset logo'), class: 'btn btn-default' %>
        <% end %>
      <% end %>
    </div>

    <div class="zs-theme-settings-card">
      <h4><%= _('Favicon') %></h4>
      <div class="zs-theme-asset-preview zs-theme-favicon-preview">
        <% if favicon_url.present? %>
          <%= image_tag favicon_url, alt: _('Current favicon') %>
        <% else %>
          <span><%= _('No custom favicon uploaded') %></span>
        <% end %>
      </div>
      <%= form_tag foreman_zs_theme.upload_theme_asset_path('favicon'), multipart: true, class: 'zs-theme-upload-form' do %>
        <%= file_field_tag :file, id: 'zs_theme_favicon_file', accept: 'image/png,image/jpeg,image/gif,image/webp,image/x-icon,image/vnd.microsoft.icon', required: true %>
        <div class="zs-theme-upload-actions">
          <%= submit_tag _('Upload favicon'), class: 'btn btn-primary' %>
        </div>
      <% end %>
      <% if ForemanZsTheme::UploadedAsset.uploaded?('favicon') %>
        <%= form_tag foreman_zs_theme.reset_theme_asset_path('favicon'), method: :delete, class: 'zs-theme-reset-form' do %>
          <%= submit_tag _('Reset favicon'), class: 'btn btn-default' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="zs-theme-settings-card zs-theme-login-info-card">
    <h4><%= _('Login page info') %></h4>
    <%= form_tag foreman_zs_theme.update_login_info_path, class: 'zs-theme-login-info-form' do %>
      <%= text_area_tag :zs_theme_login_info_text,
        login_info_text,
        rows: 4,
        maxlength: ForemanZsTheme::SettingsController::MAX_LOGIN_INFO_LENGTH,
        placeholder: _('Text shown under the logo on the login page') %>
      <div class="zs-theme-upload-actions">
        <%= submit_tag _('Save login info'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <% if login_info_text.present? %>
      <%= form_tag foreman_zs_theme.reset_login_info_path, method: :delete, class: 'zs-theme-reset-form' do %>
        <%= submit_tag _('Clear login info'), class: 'btn btn-default' %>
      <% end %>
    <% end %>
  </div>

  <div class="zs-theme-settings-card zs-theme-font-size-card">
    <h4><%= _('Font sizes') %></h4>
    <%= form_tag foreman_zs_theme.update_font_sizes_path, class: 'zs-theme-font-size-form' do %>
      <div class="zs-theme-font-size-grid">
        <div class="zs-theme-font-size-field">
          <%= label_tag :zs_theme_site_font_size, _('Site font size') %>
          <div class="zs-theme-number-input">
            <%= number_field_tag :zs_theme_site_font_size,
              site_font_size,
              min: ForemanZsTheme::FontSize::MIN,
              max: ForemanZsTheme::FontSize::MAX,
              step: 1,
              required: true %>
            <span><%= _('px') %></span>
          </div>
        </div>
        <div class="zs-theme-font-size-field">
          <%= label_tag :zs_theme_sidebar_font_size, _('Sidebar font size') %>
          <div class="zs-theme-number-input">
            <%= number_field_tag :zs_theme_sidebar_font_size,
              sidebar_font_size,
              min: ForemanZsTheme::FontSize::MIN,
              max: ForemanZsTheme::FontSize::MAX,
              step: 1,
              required: true %>
            <span><%= _('px') %></span>
          </div>
        </div>
      </div>
      <div class="zs-theme-upload-actions">
        <%= submit_tag _('Save font sizes'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= form_tag foreman_zs_theme.reset_font_sizes_path, method: :delete, class: 'zs-theme-reset-form' do %>
      <%= submit_tag _('Reset font sizes'), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
